.recipe-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}

.recipe-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipe-img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.recipe-details {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-instructions {
  padding: 0px;
  border-radius: 5px;
  color: #adaab0;
}
.recipe-instructions ol {
  margin-left: 0px;
}

.recipe-instructions li {
  margin: 10px 0;
}
